name: "CD Pipeline"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy_production:
    steps:
      - name: Deploy project over SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: cd atteny-backend && git pull